# ignore the file, where OpenAI secret API key is stored
.api_key.txt

# ignore virtual environment, that should be created by the developer
# using the "install.sh" script
.autoblogger_dev

# ignore scipts locally compiled to bytecode
__pycache__
